.default-color0.chart-pie { -fx-pie-color: #44ff44; }
.default-color1.chart-pie { -fx-pie-color: #ff4444; }


* {
-fx-start-angle: 90;
-fx-fill: #000000;
-fx-stroke: #000000;
}

.chart-pie{
-fx-border-color: #222222;
}